<%= render 'layouts/header' %>

<br><br>
<%= form_for(:number_set, :url => {:action => "update", :id => @number_set.id}) do |f| %>
  
  <table align = center>
    <tr><th>Modify number set (## ## ## ## ## ##):</th>
    <td><%= f.text_field :set %></td></tr>
    <tr><th>Modify draw date (YYYY-MM-DD):</th>
    <td><%= f.text_field :check_date, :value => @number_set.check_date.to_date %></td></tr>
  </table>

  <div align=center><%= submit_tag("Edit Entry") %></div>
<% end %>