<body>
<%= render 'layouts/header' %>
 
<h1 align="center">Expired Tickets<br>
</h1>

<%= render 'layouts/time' %>

<br>

<table align="center">
  <tr>
    <% count = 0 %>
    <% @expired_sets.each do |set| %>
      <% count += 1 %>
      <td align="center" bgcolor="LightGrey" class="expired_tickets">
        <%= image_tag("rip.png", :alt => "RIP", :height => 27) %> <br>
  
        <font size = 4> 
          Winning Numbers: <br>
        </font>
        <font size = 6>
          <% if set.drawn_nums %>
            <%= set.drawn_nums %>
          <% else %>
            ## ## ## ## ## ##
          <% end %>
        </font><br>
        
        <font size = 4>
          Drawn: <%= set.check_date.to_date %> <br>
          Your Ticket: <%= set.set %>
        </font><br>

        <strong> Group Members Included: 
        <% set.emails.each do |email| %>
          <br><font size = 2><%= email.email %></font>
        <% end %>
        <% if set.emails == [] %>
          (none)</strong>
        <% end %>
        <br>
        
          <font size=1>
            <%= link_to "Delete Permanently", :action => "destroy", :id => set.id %>
          </font>
        </h3>
      </td>
      <% if count > 4 %>
        </tr><tr>
        <% count = 0 %>
      <% end %>
    <% end %>
  </tr>
</table>

<% if @expired_sets == [] %>
  <br><br><div align=center><font color=red>No expired tickets in the system.</font></div>
<% end %>  

</body>