<body>
<%= render 'layouts/header' %>

<h2 align="center">Latest Mega Millions Draw: <%= last_draw %></h2>
<h1 align="center">Active Tickets<br>
  <font size=2><%= link_to "(Add More)", :action => "new" %></font>
</h1>

<%= render 'layouts/time' %>

<br>
<table align="center">
  <tr>
    <% count = 0 %>
    <% @active_sets.each do |set| %>
      <% count += 1 %>
      <td align="center" bgcolor="LightGrey" class="tickets">
        <h3><%= set.set %><br>
        <font size = 4> Drawing: <%= set.check_date.to_date %></font><br>
          <font size=2>
            <%= link_to "Edit", :action => "edit", :id => set.id %> || 
            <%= link_to "Delete", :action => "destroy", :id => set.id %>
          </font>
        </h3>
        Ticket Holder: <%= set.user.name %><br>
        Group Member Emails: 
        
        <% set.emails.each do |email| %>
          <br><strong><font size = 2><%= email.email %>
          <%= link_to "[X]", :controller => "Email", :action => "destroy", :id => email.id %></font></strong>
        <% end %>
        
        <% if set.emails == [] %>
          <br><strong><font size = 2>(none)</font></strong>
        <% end %>
        
        <%= form_for(:email, :url => {:controller => "email", :action => "create"}) do |f|%>
          <%= f.text_field :email %>
          <%= f.hidden_field :number_set_id, :value => set.id %>
          <%= submit_tag("Add Email") %>
        <% end %>
        
      </td>
      <% if count > 4 %>
        </tr><tr>
        <% count = 0 %>
      <% end %>
    <% end %>
  </tr>
</table>

<% if @active_sets == [] %>
  <br><br><div align=center><font color=red>No active tickets in the system. Please <%= link_to "add one.", :action => "new" %></font></div>
<% end %>  

</body>