<body>
    
<h1 align="center">Number Sets<br>
<font size=2><%= link_to "(Add More)", :action => "new" %></font>
</h1>


<table align="center">
  <tr>
    <% @sets.each do |set| %>
      <td align=center>
        <h3><%= set.set %>
          <font size=1>
            <%= link_to "Edit", :action => "edit", :id => set.id %>
            <%= link_to "Delete", :action => "destroy", :id => set.id %>
          </font>
        </h3>
        Drawing: <%= set.check_date.to_date %><br><br>
        Set owner: <%= set.user.name %><br><br>
        Associated Emails: 
        
        <% set.emails.each do |email| %>
          <br><%= email.email %>
          <%= link_to "[X]", :controller => "Email", :action => "destroy", :id => email.id %>
        <% end %>
        
        <%= form_for(:email, :url => {:controller => "email", :action => "create"}) do |f|%>
          <%= f.text_field :email %>
          <%= f.hidden_field :number_set_id, :value => set.id %>
          <%= submit_tag("Add Email") %>
        <% end %>
        
      </td>
    <% end %>
  </tr>
</table>


</body>