<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="logo"><%= link_to "Auto Lotto", :action => "index" %></div>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <div class="navlinks"><%= link_to "Active Tickets", :action => "index"%> | |
        <%= link_to "Expired Tickets", :action => "expired"%> | | 
        <%= link_to "Logout", {:controller => 'access', :action => 'logout'} %></div>
      </ul>
    </nav>
  </div>
</header>

<div align="center" style="color:red"><% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%></div>

<br><br>    
<%= form_for(:number_set, :url => {:action => "create"}) do |f| %> 
  <table align = center>
    <tr><th>Enter number set with spaces (## ## ## ## ## ##):</th>
    <td><%= f.text_field :set %></td></tr>
    <tr><th>Enter draw date in year-month-day format (YYYY-MM-DD):</th>
    <td><%= f.text_field :check_date %></td></tr>
  </table>

  <div align=center><%= submit_tag("Add Numbers") %></div>
<% end %>


