<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="logo"><%= link_to "Auto Lotto", :action => "index" %></div>

  </div>
</header>
    
<div align="center" style="color:red"><% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%></div>

<br><br><br>

<div class="login" align="center">
	<%= form_tag(:action => 'attempt_login') do %>
	  <table>
	  	<tr>
	  	  <td><%= label_tag(:name) %></td>
	  	  <td><%= text_field_tag(:name) %></td>
	  	</tr>
	  	<tr>
  	  	  <td><%= label_tag(:password) %></td>
	  	  <td><%= password_field_tag(:password) %></td>
	  	</tr>
	  	<tr>
	      <td>&nbsp;</td>
	      <td><%= submit_tag("Login") %></td>
	    </tr>
	  </table>
	<% end %>
</div>