<!DOCTYPE html>
<html>
<head>
<title>AutoLotto</title>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<br><br>
<footer class="footer">
  <small>
    <%= link_to "Auto Lotto", :action => "index" %>
    by <a href="https://www.linkedin.com/profile/view?id=36235271" target="_blank">Steven Puroll</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/spuroll/auto_lotto" target="_blank">GitHub</a></li>
      <li><a href="mailto:stevenpuroll@gmail.com">Contact</a></li>
    </ul>
  </nav>
</footer>

</body>
</html>